// _global.scss
@use "@variables" as *;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  color: $color-light;
  background-color: $color-dark;
  height: 100dvh;
}
