// Helpers
@use "@mixins" as *;

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.mobile-only {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.sm-icon {
  @include flex-center;
  width: 15rem;
  height: 15rem;
}
