// Variables

// Color
// Main colors
$color-dark: #151419; // Couleur sombre pour les arrière-plans ou le texte principal
$color-dark-alt: #1b1b1e; // Variante sombre pour les éléments secondaires
$color-medium-dark: #262626; // Pour les bordures ou éléments séparateurs

// Light color
$color-light: #fbfbfb; // Couleur de fond claire pour le contenu

// Secondary colors
$color-grey: #878787; // Gris pour le texte secondaire ou les éléments moins importants

// Accent color
$color-accent: #f56e0f; // Accent color (pour les boutons, liens, etc.)
$color-accent-blue: #084d6d;
$color-accent-green: #8fff4a;

// Variant
$color-black: #090909;
$color-white: #ffffff;
$color-medium: #7b7b7b;
$color-accent-b: #ff5c00;

// Variant
$color-dark: oklch(0.141 0.005 285.823);
$color-dark-alt: oklch(22.34% 0.006 285.92);
$color-medium-dark: oklch(0.274 0.006 286.033);
$color-light: oklch(100% 0 0);
$color-grey: oklch(0.705 0.015 286.067);
$color-accent: oklch(68.37% 0.212 40.59);
$color-accent-green: oklch(89.96% 0.235 136.1);
