// _announcement.scss
@use "@variables" as *;
@use "@mixins" as *;

.announcement-bar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  min-height: 40px;
  color: $color-light;
  background-color: $color-medium-dark;
  opacity: 1;
  @include flex-center;
  text-align: center;

  transition-delay: 0s;
  transition-property: opacity, translate;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.announcement-bar-inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.announcement-bar__text {
  font-size: 12rem;
  max-width: 100%;
  user-select: none;

  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 20rem;
  animation: marquee 15s linear infinite;
  animation-delay: -7.5s;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.announcement-bar__text::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 2px;
  background-color: $color-accent-green;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
