// _contact.scss
@use "@variables" as *;

.contact {
  &__emailContainer {
    display: inline-flex;
  }

  & p {
    font-size: 15rem;
  }
}

.copy-button {
  cursor: default;
}

.email-info {
  display: flex;
  overflow: hidden;
}

.clipboard-status {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: $color-accent;
  margin-left: 20rem;
  font-size: 14rem;
  clip-path: inset(0 100% 0 0);

  transition-property: clip-path;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.email-link {
  cursor: pointer;
  position: relative;
  height: max-content;
}

.email-link:hover + .clipboard-status {
  clip-path: inset(0px);

  transition-duration: 350ms;
}

.copy-text {
  transform: translateY(0);

  transition-property: transform;
  transition-duration: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.copy-button.clicked .copy-text {
  transform: translateY(-100%);

  transition-duration: 250ms;
}

.copied-status {
  opacity: 0;
  transform: translateY(0);

  transition-property: transform, opacity;
  transition-duration: 0ms, 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.copy-button.clicked .copied-status {
  opacity: 1;
  transform: translateY(-100%);

  transition-duration: 250ms, 250ms;
}
