// _contact.scss
@use "@variables" as *;

.contact {
  &__emailContainer {
    display: inline-flex;
  }
}

.copy-button {
  cursor: default;
}

.email-info {
  display: flex;
  overflow: hidden;
}

.clipboard-status {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transform: translateX(-10px);
  color: #084d6d;
  opacity: 0;
  margin-left: 20rem;
  font-size: 14rem;
  transition-property: transform, opacity;
  transition-duration: 250ms, 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link {
  cursor: pointer;
  position: relative;
  height: max-content;
}

.email-link:hover + .clipboard-status {
  transform: translateX(0);
  opacity: 1;
}

.copy-text {
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.copy-button.clicked .copy-text {
  transform: translateY(-100%) rotate(0.01deg);
}

.copied-status {
  opacity: 0;
  transform: translateY(0);
  transition-property: transform, opacity;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.copy-button.clicked .copied-status {
  opacity: 1;
  transform: translateY(-100%);
}
