// _profile.scss

.profile {
  &__title {
    font-size: 45rem;
    line-height: 1.25em;

    @media screen and (max-width: 767px) {
      font-size: 25rem;
      line-height: 1.5em;
      margin-bottom: 30rem;
    }
  }
  &__text {
    max-width: 100%;
    padding-top: 20rem;
    @media screen and (max-width: 767px) {
      padding-top: 0;
    }
  }
}
