// _project.scss
@use "@variables" as *;
@use "@typography" as *;

.project {
  &__title {
    text-transform: capitalize;
  }
}

.project__list {
  display: flex;
  flex-direction: column;
  gap: 12.75rem;
  counter-reset: comptlist;
}

.project__list:has(.project__item:hover) .project__item:not(:hover) {
  filter: blur(2px);
}

.project__item {
  position: relative;
  transition-property: filter;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid $border-color;
}

.project__item::after {
  content: "(" counter(comptlist, decimal-leading-zero) ")";
  counter-increment: comptlist;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: $font-secondary;
  font-size: 10rem;
}

.project__link {
  position: absolute;
  inset: 0;
}

.project__description {
  color: rgba($text-color, 0.4);
  margin-bottom: 10rem;
}
