// _project.scss
@use "@variables" as *;
@use "@typography" as *;

.project {
  &__title {
    text-transform: capitalize;
  }
}

.project__list {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  counter-reset: comptlist;
}

.project__list:has(.project__item:hover) .project__item:not(:hover) {
  filter: blur(2px);
}

.project__item {
  position: relative;
  transition-property: filter;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid $color-medium-dark;
}

.project__item::after {
  content: "(" counter(comptlist, decimal-leading-zero) ")";
  counter-increment: comptlist;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: $font-secondary;
  font-size: 10rem;
}

.project__item article {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-10px);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 350ms, 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .icon-wrapper {
  opacity: 1;
  transform: translate(0);
}

.icon-wrapper svg {
  display: inline-block;
  width: 10rem;
  height: 10rem;
}

.project__link {
  position: absolute;
  inset: 0;
}

.project__item-description {
  color: $color-grey;
  margin-bottom: 10rem;
  position: relative;
  font-size: 13rem;
}

.project__item-description::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 2px;
  background-color: $color-accent;
  top: -50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;

  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .project__item-description::before {
  opacity: 1;
}

.project__item-title {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .project__item-title {
  transform: translateX(20px);
}
