// _section.scss
@use "@variables" as *;

.section {
  color: $text-color;
  user-select: none;
  font-size: 16rem;
  line-height: 26.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 93.75rem;

  @media screen and (max-width: 767px) {
    margin-bottom: 73.75rem;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 25rem;
  }
}

.cube {
  display: block;
  margin-top: 7.25em;
  margin-bottom: 2.2em;
  margin-left: 0.06em;
  width: 10rem;
  height: 10rem;
  border-radius: 2px;
  background-color: #084d6d;
}

.link {
  display: inline-flex;
  overflow: hidden;
}

.link::after,
.link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $text-color;
  will-change: transform;
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.link::before {
  height: 1px;
  bottom: calc(0.025vw * 5);
}

.link:hover::before {
  transform: translate3d(102%, 0, 0);
}

.link::after {
  height: 1px;
  bottom: calc(0.025vw * 5);
  transform: translate3d(-102%, 0, 0);
}

.link:hover::after {
  transform: translate3d(0, 0, 0);
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
}

// .crosshair-wrap {
//   padding: 16px;
//   position: relative;
//   inset: 0;
// }
// .cross {
//   width: 8rem;
//   height: 8rem;
//   position: absolute;
// }
// .cross1 {
//   inset: 0% auto auto 0%;
//   border-top: 1px solid;
//   border-left: 1px solid;
//   border-top-width: 2px;
//   border-left-width: 2px;
// }
// .cross2 {
//   inset: 0% 0% auto auto;
//   border-top: 1px solid;
//   border-right: 1px solid;
//   border-top-width: 2px;
//   border-right-width: 2px;
// }
// .cross3 {
//   inset: auto 0% 0% auto;
//   border-bottom: 1px solid;
//   border-right: 1px solid;
//   border-bottom-width: 2px;
//   border-right-width: 2px;
// }
// .cross4 {
//   inset: auto auto 0% 0%;
//   border-bottom: 1px solid;
//   border-left: 1px solid;
//   border-bottom-width: 2px;
//   border-left-width: 2px;
// }
