// _container.scss

.container {
  padding: 100rem 20% 0;
  @media screen and (max-width: 1024px) {
    padding: 70rem;
    padding-bottom: 0;
  }
  @media screen and (max-width: 767px) {
    padding: 15rem 5% 0;
  }
}
