// header.scss
@use "@variables" as *;

.header {
  user-select: none;
  padding-block: 0 40rem;
  margin-bottom: 75rem;
  border-bottom: 1px solid $color-medium-dark;

  @media screen and (max-width: 767px) {
    padding-top: 20rem;
  }
}
