// _navbarMobile
@use "@variables" as *;
@use "@mixins" as *;

.navbar__menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    min-height: 90vh;
    padding: 125rem 5% 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $color-dark-alt;
    color: $color-light;
    pointer-events: none;
    clip-path: inset(0 0 100% 0);
    transition-property: clip-path;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
}

.navbar__menu.active {
  clip-path: inset(0px);
  pointer-events: auto;
}

.navbar__menu > li:nth-of-type(5) {
  font-size: 15rem;
  margin-top: auto;
  margin-bottom: 5rem;
  padding-top: 20rem;
  border-top: 1px solid $color-grey;
}

.navbar__menu > li:nth-of-type(6) {
  color: $color-grey;
  font-size: 15rem;
  margin-bottom: 5rem;
}

.navbar__socials {
  display: flex;
  gap: 10rem;
  margin-bottom: 40rem;
}

.navbar__socials li > a {
  @include flex-center;
  width: 35rem;
  height: 35rem;
  color: $color-light;
  border: 1px solid $color-grey;
  border-radius: 5rem;
}
