// _navbar.scss
@use "@variables" as *;
@use "@mixins" as *;

.navbar {
  @include flex-between;
  align-items: flex-end;
  position: relative;
  font-size: 16rem;
  line-height: 24rem;
  letter-spacing: -0.02em;
  color: $color-light;
  @media screen and (max-width: 767px) {
    align-items: flex-start;
  }

  &__profile {
    position: relative;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    position: relative;
  }
}

.navbar__profile__images {
  width: 100rem;
  height: 100%;
  // border-radius: 10rem;
  overflow: hidden;
  position: relative;
  background-color: oklch(96.62% 0.0356 100.12);
}

.navbar__profile__image {
  opacity: 0;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.navbar__profile__image.navbar__profile__image-cover {
  opacity: 1;
  filter: saturate(0%);
}

.navbar__profile__image-cover {
  mix-blend-mode: multiply;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (hover: hover) {
  .navbar__profile__images:hover .navbar__profile__image {
    opacity: 1;

    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navbar__profile__images:hover .navbar__profile__image-cover {
    opacity: 0;

    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.navbar__profile__texts {
  padding-top: 6rem;
  position: absolute;
  top: 100%;
  width: max-content;
  left: 0;
  color: $color-accent;
  font-size: 13rem;
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.05em;
  opacity: 0;
  clip-path: inset(0 100% 0 100%);

  transition-property: opacity, clip-path;
  transition-duration: 500ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__profile__text-title {
  font-weight: 600;
}

.navbar__menu-item {
  display: flex;
  position: relative;
  margin: 0 20rem;
  @media screen and (max-width: 767px) {
    margin: 10rem 0;
  }
}

.navbar__menu-item a {
  text-transform: capitalize;
  line-height: normal;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    font-size: 30rem;
    line-height: 35rem;
  }
}

.navbar__menu-item a::after {
  content: attr(data-content);
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(20rem);
  opacity: 0.7;

  @media screen and (max-width: 767px) {
    transform: translateY(35rem);
  }
}

.navbar__menu-item a span {
  position: relative;
  display: inline-block;
  transform: translateY(0);
  opacity: 0.7;

  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__menu-item a:hover span {
  transform: translateY(-20rem);
  opacity: 1;

  transition-property: transform, opacity;
  transition-duration: 500ms, 1ms;
  transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1), ease;
  transition-delay: 0ms, 500ms;

  @media screen and (max-width: 767px) {
    transform: translateY(-35rem);
  }
}

.navbar__menu-item a:hover::after {
  transform: translateY(0);
  opacity: 1;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
}
