// _navbar.scss
@use "@variables" as *;
@use "@mixins" as *;

.navbar {
  @include flex-between;
  font-size: 16rem;
  line-height: 24rem;
  letter-spacing: -0.02em;
  color: $color-light;
  position: relative;

  &__title {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    gap: 18rem;
    flex-direction: row;
  }
}

.navbar__menu-item {
  position: relative;
  padding-right: 20rem;
  @media screen and (max-width: 767px) {
    margin: 12.5rem 0;
  }
}

.navbar__menu-item a {
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  line-height: 30rem;

  @media screen and (max-width: 767px) {
    font-size: 30rem;
  }
}

.navbar__menu-item a::after {
  content: attr(data-content);
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(35rem);
  opacity: 0.7;
}

.navbar__menu-item a span {
  position: relative;
  display: inline-block;
  transform: translateY(0);
  opacity: 0.7;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__menu-item a:hover span {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1ms 400ms;
  transform: translateY(-35rem);
  opacity: 1;
}

.navbar__menu-item a:hover::after {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  opacity: 1;
}
