// _navbar.scss
@use "@variables" as *;
@use "@mixins" as *;

.navbar {
  @include flex-between;
  font-size: 17rem;
  line-height: 24rem;
  letter-spacing: -0.02em;
  color: $text-color;

  &__menu {
    display: flex;
    gap: 50rem;
    flex-direction: row;

    @media screen and (max-width: 767px) {
      gap: 17rem;
    }
  }
}

.navbar__menu-item {
  transition-property: opacity;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar__menu-item:hover {
  opacity: 0.5;
}
